<header class="pn_header">
  <div class="pn_header-wrapper">
    <div class="pn_header-logos">
      <a
        rel="noreferrer"
        href="https://www.americastestkitchen.com/?incode=MAFLDA2L0"
        target="_blank"
        ><img
          alt="this is an alt text example"
          class="pn_header-imgs"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/v1581716943/logo_htxvor.png" /></a
      ><a
        rel="noreferrer"
        href="https://www.cooksillustrated.com/?extcode=MAFLDC2L0"
        target="_blank"
        ><img
          alt="this is an alt text example"
          class="pn_header-imgs"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/v1581716966/cio_fbfdon.png" /></a
      ><a
        rel="noreferrer"
        href="https://www.cookscountry.com/?extcode=MAFLDK2L0"
        target="_blank"
        ><img
          alt="this is an alt text example"
          class="pn_header-imgs"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/v1581716986/Cooks-Country-Logo_q83van.png"
      /></a>
    </div>
  </div>
</header>
<section class="pn_featured_sec" data-document-title="welcome5">
  <div class="pn_featured-wrapper">
    <div class="pn_featured-desc">
      <h1 class="pn_desc-headline">Proven Recipes, Tested to Perfection</h1>
      <h2 class="pn_desc-subheadline">
        Save 50% when you sign up today for Digital All Access!
      </h2>
      <div class="pn_featured-img-mobile">
        <img
          alt="this is an alt text example"
          class="pn_featured-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_500,dpr_2.0,fl_lossy/ATK-S20_20190513_14-25-08_42184_zcsw4a.jpg"
        /><i class="pn_featured-img-text">As Seen on Public Television</i>
      </div>
      <span class="pn_list-desc">Exclusive membership benefits include:</span>
      <ul class="pn_desc-my-list">
        <li class="pn_desc-list-el">
          Full access to the <em>America’s Test Kitchen</em>,<!-- -->
          <em>Cook&#x27;s Country</em>, and
          <em>Cook&#x27;s Illustrated</em> libraries of foolproof recipes, taste
          tests, and equipment reviews
        </li>
        <li class="pn_desc-list-el">
          ATK App to find recipes and ratings easily on the go
        </li>
        <li class="pn_desc-list-el">FREE Shipping in our store</li>
        <li class="pn_desc-list-el">
          Stream all of our episodes &amp; exclusive content
        </li>
      </ul>
      <a href="/order?mdc=APP020MA1A" class="pn_desc-cta">SAVE NOW</a>
    </div>
    <div class="pn_featured-img-wrapper">
      <img
        alt="this is an alt text example"
        class="pn_featured-img"
        src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_500,dpr_2.0,fl_lossy/ATK-S20_20190513_14-25-08_42184_zcsw4a.jpg"
      /><i class="pn_featured-img-text">As Seen on Public Television</i>
    </div>
  </div>
</section>
<section class="pn_dishes-sec">
  <div class="pn_dishes-wrapper">
    <h2 class="pn_dishes-headline">Easily Cook &amp; Enjoy Dishes Such As:</h2>
    <br />
    <div class="pn_dishes-toprow">
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/32486_sfs-millionaires-shortbread-47"
        />
        <p class="pn_dish-desc">Millionaire’s Shortbread</p>
      </div>
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/39837_sfs-beef-tenderloin-with-smoky-potatoes-and-persillade-relish-13"
        />
        <p class="pn_dish-desc">
          Beef Tenderloin with Smoky Potatoes &amp; Persillade Relish
        </p>
      </div>
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/39911_sfs-morrocan-chickpeas-lentil-soup-42-1"
        />
        <p class="pn_dish-desc">
          Moroccan Lentil &amp; Chickpea Soup (Harira)<!-- -->
        </p>
      </div>
      <div class="pn_dish-lastel">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/41844-sfs-chicken-vesuvio-22"
        />
        <p class="pn_dish-desc">Chicken Vesuvio</p>
      </div>
    </div>
    <div class="pn_dishes-row">
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/33945_sfs-simple-stovetop-macaroni-and-cheese-169"
        />
        <p class="pn_dish-desc">Simple Stovetop Macaroni &amp; Cheese</p>
      </div>
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/41519-sfs-tacos-dorado-126"
        />
        <p class="pn_dish-desc">Crispy Tacos (Tacos Dorados)</p>
      </div>
      <div class="pn_dish-el">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/28299_sfs-chocolate-chip-cookie-75"
        />
        <p class="pn_dish-desc">Perfect Chocolate Chip Cookies</p>
      </div>
      <div class="pn_dish-lastel">
        <img
          alt="this is an alt text example"
          class="pn_dish-img"
          src="https://res.cloudinary.com/hksqkdlah/image/upload/f_auto,q_auto:low,w_300,dpr_2.0,fl_lossy/24786_sfs-flaky-buttermilk-biscuits-50"
        />
        <p class="pn_dish-desc">Ultimate Flaky Buttermilk Biscuits</p>
      </div>
    </div>
  </div>
</section>
<div class="pn_more-wrapper">
  <i class="pn_dishes-more">. . . and many more!</i
  ><a href=" /order?mdc=APP020MA1A" class="pn_desc-cta">SAVE NOW</a>
</div>
